.forget-password {
  text-align: end;
  margin-right: 5px;
}

.btn-login, .btn-register, .btn-forget {
  text-align: center;
  margin: 20px 0;
}

h2 {
  color: gray;
  font-size: 58px;
}

a {
  text-decoration: none;
}

.gray {
  color: gray;
  font-size: 28px;
  font-weight: 700;
}

.gray-sm {
  color: gray;
  font-size: 18px;
  font-weight: 700;
}

.green {
  color: #b6c504 !important;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  font-weight: 700;
  padding-top: 40%;
  padding-left: 20%;
  padding-right: 20%;
}

h4 {
  font-size: 38px;
  color: gray;
}

.right {
  padding: 10% 15% 0 15%;
}

.signup {
  margin-top: 5%;
}

.bar {
  width: .2em;
  max-width: .2em;
  height: 18vh;
  border-radius: 50%;
}
